# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled Python libraries
*.pyc

# Created by SWIG and python
Code/GWFrames.py
Code/GWFrames/__init__.py
Code/GWFrames_wrap.cpp
Code/build
Docs/xml
Docs/latex
Docs/html
C++Example/main
