# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled Python libraries
*.pyc

# Created by SWIG and python
.ipynb_checkpoints
Code/GWFrames.py
Code/GWFrames/__init__.py
Code/GWFrames_wrap.cpp
Code/build
Code/spinsfast/bin/
Code/spinsfast/lib/
Code/SWIG/GWFrames.py
Code/SWIG/GWFrames_wrap.cpp
Docs/xml
Docs/latex
Docs/html
C++Example/main
