<?xml version="1.0"?>
<!--

Web Deployment Descriptor for the SnuggleTeX Demo & Documentation Webapp

$Id:web.xml 158 2008-07-31 10:48:14Z davemckain $

Copyright (c) 2010, The University of Edinburgh
All Rights Reserved

-->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <display-name>SnuggleTeX</display-name>
  <description>SnuggleTeX Documentation Webapp</description>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>snuggletex.version</param-name>
    <param-value>${project.version}</param-value>
  </context-param>
  <context-param>
    <param-name>maven.site.url</param-name>
    <param-value>${maven.site.url}</param-value>
  </context-param>
  <listener>
    <listener-class>uk.ac.ed.ph.snuggletex.webapp.ContextInitialiser</listener-class>
  </listener>
  <!-- Trivial filter that redirects certain URLs inside this webapp to cater
  for me changing my mind and moving things around all of the time. -->
  <filter>
    <filter-name>RedirectionFilter</filter-name>
    <filter-class>uk.ac.ed.ph.snuggletex.webapp.RedirectionFilter</filter-class>
    <init-param>
      <!-- Enter redirection data here as pairs of the form "regexp target", where
      both regexp and target will apply to the part of the request URI after
      the context path -->
      <param-name>redirections</param-name>
      <param-value>
        /documentation/overview(\..+) /documentation/overview-and-features$1
        /documentation/(requirements\..+) /documentation/software-$1
        /documentation/latex-samples(\..+) /documentation/web-output-samples$1
        /documentation/getting-started(\..+) /documentation/getting-snuggletex$1
        /documentation/first-example(\..+) /documentation/minimal-example$1
        /documentation/(dom-output\..+) /documentation/xml-or-$1
        /documentation/(commands\..+) /documentation/defining-$1
        (/documentation/semantic-)upconversion(\..+) $1enrichment$2
        /documentation/(content-mathml\..+) /documentation/generating-$1
        /documentation/(maxima-input\..+) /documentation/generating-$1
      </param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>RedirectionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description>
      Manages generation and caching of documentation resources
    </description>
    <servlet-name>DocumentationServlet</servlet-name>
    <servlet-class>uk.ac.ed.ph.snuggletex.webapp.DocumentationServlet</servlet-class>
    <init-param>
      <param-name>caching</param-name>
      <param-value>false</param-value>
    </init-param>
  </servlet>
  <servlet>
    <description>
      Processes and displays user-submitted full LaTeX input
    </description>
    <servlet-name>FullLaTeXInputDemoServlet</servlet-name>
    <servlet-class>uk.ac.ed.ph.snuggletex.webapp.FullLaTeXInputDemoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
      Servlet converting simple Math mode LaTeX input to a Web Page
    </description>
    <servlet-name>MathInputDemoServlet</servlet-name>
    <servlet-class>uk.ac.ed.ph.snuggletex.webapp.MathInputDemoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
      Servlet converting simple Math mode LaTeX inputs to a PNG image
    </description>
    <servlet-name>MathInputToImageServlet</servlet-name>
    <servlet-class>uk.ac.ed.ph.snuggletex.webapp.MathInputToImageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
      Demonstrates the Up-conversion process for SnuggleTeX input
    </description>
    <servlet-name>UpConversionDemoServlet</servlet-name>
    <servlet-class>uk.ac.ed.ph.snuggletex.webapp.UpConversionDemoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
      Produces page fragments demonstrating Up-conversion examples
    </description>
    <servlet-name>UpConversionExampleFragmentServlet</servlet-name>
    <servlet-class>uk.ac.ed.ph.snuggletex.webapp.UpConversionExampleFragmentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
      Demonstrates the Up-conversion process for ASCIIMathML input
    </description>
    <servlet-name>ASCIIMathMLUpConversionDemoServlet</servlet-name>
    <servlet-class>uk.ac.ed.ph.snuggletex.webapp.ASCIIMathMLUpConversionDemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentationServlet</servlet-name>
    <url-pattern>/documentation/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FullLaTeXInputDemoServlet</servlet-name>
    <url-pattern>/FullLaTeXInputDemo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MathInputDemoServlet</servlet-name>
    <url-pattern>/MathInputDemo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MathInputToImageServlet</servlet-name>
    <url-pattern>/MathInputToImage.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpConversionDemoServlet</servlet-name>
    <url-pattern>/UpConversionDemo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpConversionExampleFragmentServlet</servlet-name>
    <url-pattern>/UpConversionExampleFragment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ASCIIMathMLUpConversionDemoServlet</servlet-name>
    <url-pattern>/ASCIIMathMLUpConversionDemo</url-pattern>
  </servlet-mapping>
</web-app>
